{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador RFC</title>
    <link rel="stylesheet" href="{% static 'libros/styles.css' %}">
</head>

<body>
    <div class="contenedor-wrapper">
        <h2>Generador de RFC</h2>

        <div class="contenedor">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Generar RFC</button>
            </form>

            {% if rfc_resultado %}
            <div class="rfc-box">
                TU RFC ES: {{ rfc_resultado }}
            </div>
            {% endif %}
        </div>
    </div>

</body>

</html>